{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": "*.code-snippets",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.sql",
      "options": {
        "plugins": ["prettier-plugin-sql"],
        "language": "mysql",
        "keywordCase": "upper"
      }
    }
  ]
}
