{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "plugins": [
    "/Users/tomyhsieh/Library/pnpm/global/5/node_modules/prettier-plugin-sql/lib/index.cjs",
    "/Users/tomyhsieh/Library/pnpm/global/5/node_modules/prettier-plugin-sort-json/dist/index.js",
    "/Users/tomyhsieh/Library/pnpm/global/5/node_modules/prettier-plugin-organize-imports/index.js"
  ],
  "overrides": [
    {
      "files": "*.code-snippets",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.sql",
      "options": {
        "plugins": [],
        "language": "postgresql",
        "keywordCase": "upper"
      }
    }
  ]
}
