# https://git-scm.com/docs/git-config

# https://blog.gitbutler.com/git-tips-2-new-stuff-in-git#some-git-branch-stuff
[branch]
sort = -committerdate

[color]
interactive = "auto"
ui = "auto"

# https://github.com/dracula/git/blob/master/config/gitconfig
[color "branch"]
current = cyan bold reverse
local = white
# plain =
remote = cyan

[color "diff"]
# commit =
func = cyan
# plain =
whitespace = magenta reverse
meta = white
frag = cyan bold reverse
old = red
new = green

[color "grep"]
# context =
# filename =
# function =
linenumber = white
# match =
# selected =
# separator =

[color "interactive"]
# error =
# header =
# help =
# prompt =

[color "status"]
added = green
changed = yellow
# header =
# localBranch =
# nobranch =
remoteBranch = cyan bold
unmerged = magenta bold reverse
untracked = red
updated = green bold

[column]
ui = auto

[commit]
template = "~/.dotfiles/pkg/git/.git_commit_template"

[core]
attributesFile = "~/.dotfiles/pkg/git/.gitattributes"
excludesFile = "~/.dotfiles/pkg/git/.gitignore"
editor = "nano"

[diff]
# https://blog.gitbutler.com/how-git-core-devs-configure-git/#better-diff
algorithm = histogram
colorMoved = plain
mnemonicPrefix = true
renames = true
wordRegex = "."

[fetch]
# https://blog.gitbutler.com/how-git-core-devs-configure-git/#better-fetching
prune = true
pruneTags = true
all = true

[grep]
extendedRegexp = true
lineNumber = true

[help]
# Suggest to autofix the command
autocorrect = prompt

[include]
path = "~/.dotfiles/pkg/git/custom/custom.gitconfig" # include other customizations
path = "~/.dotfiles/pkg/git/alias.gitconfig"

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
path = "~/.dotfiles/pkg/git/github-tomy0000000.gitconfig" # include the user block

[init]
# https://github.blog/changelog/2020-10-01-the-default-branch-for-newly-created-repositories-is-now-main/
defaultBranch = "main"

[log]
abbrevCommit = true
date = "human"

[merge]
# https://nvie.com/posts/a-successful-git-branching-model/#incorporating-a-finished-feature-on-develop
ff = false
# https://blog.gitbutler.com/how-git-core-devs-configure-git/#better-merge-conflicts
conflictstyle = zdiff3

[pull]
ff = only

[push]
# https://blog.gitbutler.com/how-git-core-devs-configure-git/#better-pushing
default = simple
autoSetupRemote = true
followTags = true

[rebase]
# https://blog.gitbutler.com/how-git-core-devs-configure-git/#slightly-nicer-rebase
autoSquash = true
autoStash = true
updateRefs = true

[tag]
sort = version:refname
