name: Test macOS features

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
  pull_request:

jobs:
  macOS:
    runs-on: macos-latest
    steps:
        - name: Dump GitHub context
          env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
          run: echo "$GITHUB_CONTEXT"
        
        - name: Dump GitHub event context
          env:
            EVENT_CONTEXT: ${{ toJson(github.event) }}
          run: echo "$EVENT_CONTEXT"
